@model List<ScrumBoardApp.Models.Column.ColumnModel>
@{
    ViewData["Title"] = "Index";
}

<h2>List of my column: </h2>
<table class="table">

    <thead class="thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">...</th>
    </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
        <tr>
            <td>@item.Name</td>
            <td>@item.ColumnTasks.Count</td>
            <td>
                <a asp-action="Details" asp-controller="Column" class="btn btn-outline-primary" tabindex="-1" role="button" aria-disabled="true">Select</a>
                <a asp-action="Update" asp-controller="Column" asp-route-id="@item.Id" class="btn btn-outline-info" tabindex="-1" role="button" aria-disabled="true">Update</a>
                <a asp-action="Delete" asp-controller="Column" asp-route-id="@item.Id" class="btn btn-outline-danger" tabindex="-1" role="button" aria-disabled="true">Delete</a>
            </td>
        </tr>
        </tbody>
    }
    <tr><td><a asp-action="AddColumn" asp-controller="Column"  class="btn btn-outline-success" tabindex="-1" role="button" aria-disabled="true">Add</a></td></tr>
</table>


@if (Model.Count != 0)
{
    <h2>
        Total Position: @Model.Count
    </h2>
}
else
{
    <div class="alert alert-warning" role="alert">
        Ups...Columns not found...List Columns and Tasks is empty

    </div>

    <p>  </p>

    <table>
        <tr>
            <a asp-action="AddColumn" asp-controller="Column" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">Create first board</a>
            or           
            <a asp-action="Index" asp-controller="Home" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Back to Home page</a>
        </tr>
    </table>

}


@*
    <div class="container text-center">
    @foreach (var item in Model)
        {
            <div class="row">
                @foreach (var task in item.ColumnTasks)
                {

                        <div class="col">
                            @task.Name
                        </div>

                }
            </div>
        }
    </div>*@

@*<div class="container text-center">
    <div class="row">
        <div class="col">
            Column
        </div>
        <div class="col">
            Column
        </div>
        <div class="col">
            Column
        </div>
    </div>
</div>*@