@{
    ViewData["Title"] = "Calculate";
}

    <h2>Details</h2>
<table class="table table-sm table">
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Pice</td>
        <td>@Model.Price</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td>@Model.Quantity</td>
    </tr>
    <tr>
        <td>ClientBindingModel Group</td>
        <td>@Model.Group</td>
    </tr>
</table>

@*<table>
    <tr class="bg-primary">
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr class="bg-success">
        <td>Название</td>
        <td>@Model.Name</td>
    </tr>
    <tr class="bg-warning">
        <td>Цена</td>
        <td>@Model.Price</td>
    </tr>
    <tr class="bg-danger">
        <td>Description</td>
        <td>@Model.Description</td>
    </tr>
    <tr class="bg-info">
        <td>Quantity</td>
        <td>@Model.Quantity</td>
    </tr>
    <tr class="bg-info">
        <td>Grop</td>
        <td>@Model.Group</td>
    </tr>
</table>*@
